irdoc.maol.se {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
	reverse_proxy iris-public:3000
}

iris.maol.se {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' https://*.basemaps.cartocdn.com; connect-src 'self' https://*.grafana.net"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
	reverse_proxy iris-public:3000
}
